.letter_spacing {
  letter-spacing: 0.5px;
}

.line_height_1 {
  line-height: 1rem;
}

.line_height_125 {
  line-height: 1.25rem;
}

.line_height_15 {
  line-height: 1.5rem;
}

.line_height_18 {
  line-height: 1.8rem;
}

.line_height_25 {
  line-height: 2.5rem;
}

.font_navi {
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 400;
}

.font_login {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 600;
}

.font_title_k {
  font-family: "Pretendard";
  font-size: 38px;
  font-weight: 700;
  color: #FE663F;
}

.font_title_e {
  font-family: "Rubik";
  font-size: 38px;
  font-weight: 700;
  color: #FE663F;
}

.font_leadcopy {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
}

.font_subtitle_k {
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 700;
}

.font_subtitle_e {
  font-family: "Rubik";
  font-size: 22px;
  font-weight: 700;
}

.font_text {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
}

.font_f18bold {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 700;
}

.font_f14semibold {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 600;
}

.font_f13regular_k {
  font-family: "Pretendard";
  font-size: 13px;
  font-weight: 400;
}

.font_f13regular_e {
  font-family: "Rubik";
  font-size: 13px;
  font-weight: 400;
}

.font_f13bold {
  font-family: "Pretendard";
  font-size: 13px;
  font-weight: 700;
}